<div class="form-horizonta">	
	<div class="form-group">
		<div class="input-group date form_datetime col-md-5" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
			<span class="input-group-addon">
				<input type="checkbox" aria-label="...">
			</span>
		    <input class="form-control" size="16" type="text" value="" readonly>
		    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
		</div>
		<input type="hidden" id="dtp_input1" value="" /><br/>
		<div class="input-group">
			<span class="input-group-addon">标题</span>
			<input></div>
		<div class="input-group"><textarea></textarea></div>
		<button type="button" class="btn btn-primary task-save-btn">保存</button>
	</div>
</div>