ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.mrl-10 {
	margin-left: 10px;
}
.mrt-8 {
	margin-top: 8px;
}
.mrt-12 {
	margin-top: 12px;
}
.mrb-12 {
	margin-bottom: 12px;
}

.mrb-22, .article {
	margin-bottom: 22px;
}
.article {
	max-width: 640px;
}
.article > p {
	text-indent: 2em;
}
.txt-c {
	text-align: center;
}
.overf-h {
	overflow: hidden;
}
h3 {
	font-size: 15px;
}

.task-item {
	margin-top: 16px;
}

#stage {
	padding-left: 22px;
}
.inline-b {
	display: inline-block!important;
}
.width-a {
	width: auto;
	display: inline-block;
}
