.mrb-12 {
	margin-bottom: 12px;
}

.mrb-22, .article {
	margin-bottom: 22px;
}
.article {
	max-width: 640px;
}
.article > p {
	text-indent: 2em;
}
.txt-c {
	text-align: center;
}

h3 {
	font-size: 15px;
}