<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>node blog</title>
</head>
<body>
	<header>
	</header>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div id="article-box"></div>
				</div>
				<div class="col-sm-4">
					<div id="app1">
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container" id="app-2">
		<anchored-heading :level="2">Hello world!</anchored-heading>
		
	</div>
	<div id="app-3">
		<heading2 :items="items"></heading2>
	</div>
</body>
</html>
<script type="text/x-template" id="anchored-heading-template">
  <h1 v-if="level === 1">
    <slot></slot>
  </h1>
  <h2 v-else-if="level === 2">
    <slot></slot>
  </h2>
  <h3 v-else-if="level === 3">
    <slot></slot>
  </h3>
  <h4 v-else-if="level === 4">
    <slot></slot>
  </h4>
  <h5 v-else-if="level === 5">
    <slot></slot>
  </h5>
  <h6 v-else-if="level === 6">
    <slot></slot>
  </h6>
</script>
