<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>node blog</title>
</head>
<body>
	<header>
		<h1></h1>
	</header>
	<section>
		<div class="container">
			<div class="txt-c mrb-12">
				<div class="btn-group" role="group" aria-label="...">
				  <button type="button" class="btn btn-primary">登陆</button>
				  <button type="button" class="btn btn-default">注册</button>
				</div>
			</div>
			<div class="input-group mrb-12">
			  <span class="input-group-addon">用户名</span>
			  <input type="text" class="form-control" placeholder="Username">
			</div>
			<div class="input-group mrb-12">
			  <span class="input-group-addon">&nbsp;密码</span>
			  <input type="password" class="form-control" placeholder="password">
			</div>
			<button type="button" class="btn btn-default pull-right">确定</button>
		</div>
			
	</section>
</body>
</html>
