<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>node blog</title>
</head>
<body>
	<header>
		<h1></h1>
	</header>
	<section>
		<div class="container" id="container"></div>
	</section>
</body>
</html>
