<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">&nbsp;&nbsp;</a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li data-link="index"><a href="javascript:;">任务清单 <span class="sr-only">(current)</span></a href="javascript:;"></li>
        <li data-link="chart"><a href="javascript:;">财务</a></li>
        <li data-link="health"><a href="javascript:;">健身</a></li>
      </ul>
      <div id="header-userinfo-area"></div>
    </div>
  </div>
</nav>