<nav class="navbar navbar-default">
  <div class="container">
    <div>
      <ul class="nav navbar-nav">
        <li data-link="expenses"><a href="javascript:;">消费</a></li>
        <li data-link="time"><a href="javascript:;">学习&健身</a></li>
        <li data-link="index"><a href="javascript:;">任务清单</a></li>
        <li data-link="funds"><a href="javascript:;">资产</a></li>
        <li data-link="diet"><a href="javascript:;">饮食</a></li>
      </ul>
      <div id="header-userinfo-area"></div>
    </div>
  </div>
</nav>